.first-view {
    height: 880px;
    width: 100vw;
    background: $theme;
    display: grid;
    grid-template-rows: 90px 630px 1fr;
    grid-template-columns: 420px 1fr;
    grid-template-areas:
    "menu    image"
    "logo    image"
    "logo    .....";
    &_menu-bar {
        grid-area: menu;
        display: flex;
        align-items: center;
        &_store {
            width: 330px;
        }
    }
    &_image-slider {
        background: pink;
        grid-area: image;
        .image-slider_container {
            position: relative;
            width: 100%;
            height: 100%;
            .slide {
                opacity: 0;
                position: absolute;
            }
        }
    }
    &_logo {
        grid-area: logo;
        margin: 150px auto 0;
        width: 300px;
        height: 500px;
    }
}